<!doctype html>
<html lang="en">
  <head>
      <link rel = "stylesheet" href = "../../public/scss/main.css">
   {{>head}}
  </head>
  <body>

    {{>header}}

    <!-- my header hero part -->
    {{>main}}
   {{>footer}}
  </body>
</html>

